{% extends 'base.html.twig' %}

{% block title %}Dodaj Post{% endblock %}

{% block body %}
    <h1>Dodaj nowy Post</h1>

    {{ form_start(form) }}
{#    {{ form_row(form.Title) }}#}
    {{ form_row(form.content) }}
    {{ form_row(form.categories) }}
{#    <button class="btn btn-primary">Zapisz</button>#}
    {{ form_end(form) }}
{% endblock %}
